#
# 指定 NPM 下载源
#
registry="https://registry.npmmirror.com"
#
# 指定 Electron 下载源
#
electron_mirror="https://npmmirror.com/mirrors/electron/"
#
# 指定 Node Gyp 下载源
#
node_gyp_mirror="https://npmmirror.com/mirrors/node-gyp/"
